<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- VueJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Lista delle spesa</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body>
      <div id="app">
        <div class="center padding">
         <img src="img/boolean.png" alt="logo" width="400px">
        </div>
        <div class="center">
          <input v-model="newTodo" @keyup.enter="clickAggiungi" type="text" placeholder="Nuovo todo" class="pad-button" >   <!-- keyup permettere di usare il tasto enter per aggiungere un elemento alla lista  -->
          <button @click="clickAggiungi" type="button" style="color:black" class="pad-button">
            <i class="fas fa-times"></i>
            Aggiungi
          </button>
          </div>
          <div class="flex padding ">
            <div class="box">
              <ul v-if='todos.length > 0'class="todo"> <!-- se la lunghezza dell'array è diversa da 0, stampa il contenuto   -->
                 <li v-for= '(item, i) in todos'> <!-- per avere l'indice -->
                  {{item}}
                   <i @click="clickX(i)" class="fas fa-times cursor-pointer"></i> <!-- passo l'indice come parametro d'ingresso alla funzione clickX, per ricerverlo in vue   -->
                </li>
              </ul>

              <h2 v-else class="center">Non ci sono Todo</h2>

            </div>

          </div>
        </div>




    </body>
</html>
